body {
  padding-top: 56px;
  padding-bottom: 56px;
  background-image: url(https://i.pinimg.com/originals/6a/42/a1/6a42a1277b302ae10959b349a85c3603.jpg);
}

[type="button"]{
    cursor: pointer;
}

.headerContent{
    background-color: #30303099 !important;
    color: white;
}

.contentBackground{
    background-color: #fffc;
}

.slider{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width : 767px){
    .galeryRow{
        flex-direction: column-reverse;
    }
}

.galeryRow, .contactsRow, .calcRow{
    align-items: center;
}

.albumList ul{
    max-height: 410px;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media screen and (max-width : 767px){
    .albumList ul{
    max-height: 210px;
    }
}
@media screen and (min-width : 768px) and (max-width : 991px){
    .albumList ul{
    max-height: 180px;
    }
}
@media screen and (min-width : 992px) and (max-width : 1199px){
    .albumList ul{
    max-height: 320px;
    }
}
.albumList li{
    list-style: none;
}

.contactsRow iframe{
    width: 100%;
    min-height: 400px;
    min-width: 400px;
}

.calcRow p{
    margin-bottom: 5px;
    font-weight: 600;
}

#map{
    min-height: 400px;
}

.authRow{
    height: 70vh;
}

.authRow form {
    width: 300px;
}

.albumsRow{
    padding-bottom: 20px;
}

.albumsRow li a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.albumsRow li a:hover{
    color:  darkgray !important;
}

.albumRow{
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.albumRow > div{
    max-width: 500px;
    min-width: 300px;
    background-color: #0003;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.albumRow img{
    width: 100%;
}

.loader{
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loader div{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.6);
}

.priceContainer{
    min-width: 300px;
    max-width: 500px;
}

.albumsContainer{
    min-width: 300px;
    max-width: 600px;
}

.no-marker{
    list-style: none;
}